@font-face {
	font-family:letras;
	src:url(../fuentes/28-Days-Later.ttf);
}
@font-face {
	font-family:letrasa;
	src:url(../fuentes/esp_bold.ttf);
}
@font-face {
	font-family:letrasb;
	src:url(../fuentes/ClearLine_PERSONAL_USE_ONLY.ttf);
}